<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <dataAdapterManager defaultProvider="mongo">
      <providers>
        <add patch:instead="*[@type='Sitecore.Analytics.Data.DataAccess.MongoDb.MongoDbDataAdapterProvider, Sitecore.Analytics.MongoDb']" type="Sitecore.Support.Analytics.Data.DataAccess.MongoDb.MongoDbDataAdapterProvider, Sitecore.Support.142272" name="mongo" connectionStringName="analytics"/>
      </providers>
    </dataAdapterManager>
    <reporting>
      <collectionDataProvider patch:instead="*[@type='Sitecore.Analytics.Data.DataAccess.MongoDb.MongoDbDataAdapterProvider, Sitecore.Analytics.MongoDb']" type="Sitecore.Support.Analytics.Data.DataAccess.MongoDb.MongoDbDataAdapterProvider, Sitecore.Support.142272" />
    </reporting>
  </sitecore>
</configuration>